<div class="m-metric m-metric__transactions-with-outcome">
  <% if transactions_with_outcome_metric.is_provided %>
    <ul class="list">
      <%= metric_item(Metrics::Items::TransactionsEndingInOutcome, html: { class: 'm-metric-headline' }) do |item| %>
        <% item.description do %>
          <strong><%= metric_to_human(transactions_with_outcome_metric.count) %></strong> transactions ending in an outcome
        <% end %>

        <span class="total">
          <% if transactions_with_outcome_metric.count.nil? %>
            <span class='item-not-provided'>Not provided</span>
          <% else %>
          <span class="data-item bold-large"><%= metric_to_human(transactions_with_outcome_metric.count) %></span>
          <span class="data-item bold">transactions ending in an outcome</span>
          <% end %>
        </span>
      <% end %>

      <%= metric_item(Metrics::Items::TransactionsEndingInOutcomeWithIntendedOutcome) do |item| %>
        <% item.description do %>
          <strong><%= metric_to_human(transactions_with_outcome_metric.count_with_intended_outcome) %></strong> transactions with intended outcome (<%= metric_to_percentage(transactions_with_outcome_metric.with_intended_outcome_percentage) %>)
        <% end %>

        <span class="metric-name">Ending in the user&apos;s intended outcome</span>
        <span class="metric-value">
          <% if transactions_with_outcome_metric.count_with_intended_outcome.nil? %>
            <span class='item-not-provided'>Not provided</span>
          <% else %>
            <span class="metric-value-count"><%= metric_to_human(transactions_with_outcome_metric.count_with_intended_outcome) %></span>
            <span class="metric-value-percentage">(<%= metric_to_percentage(transactions_with_outcome_metric.with_intended_outcome_percentage) %>)</span>
          <% end %>
        </span>
      <% end %>
    </ul>
  <% else %>
    <div class="not-provided">Not provided</div>
    <span class="item-not-provided">outcomes</span>
    <div data-metric-item-description=" " data-metric-item-identifier="transactions-ending-in-outcome"></div>
  <% end %>
</div>


